* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
a:hover{
  text-decoration: none;
  color: #fff;
}
.page_wrapper {
  background-image: url("../images/showcase_img.png");
}

.h-100 {
  min-height: 100vh;
}
nav ul li {
  padding:0 16px;

}
.logo{
  font-size: 40px;
  color: #000;
  font-weight: 600;
}
div .bg-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.showcase-content{
  text-align: center;
  padding-left: 20px;
  justify-content: center;
}
.showcase-img{
  padding-right: 20px;
}

.space-pb--30 {
  padding-bottom: 30px;
}
.space-my-10{
  padding-left: 20px;
}
.space-pt--30 {
  padding-top: 30px;
}
.space-mb--50 {
  margin-bottom: 10px;
}
.space-pb--25 {
  padding-bottom: 25px;
}

.space-pt--25 {
  padding-top: 25px;
}
.content__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  font-weight: 400;
  color: #fff;
}
.content__title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 1.25;
  color: #fff;
}
.countdown {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.single-countdown {
  flex-basis: 100px;
  margin-right: 8px;
}
.countdown .single-countdown__time {
  font-size: 48px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  padding: 15px 0;
  color: #000;
  border-radius: 10px;
  background-color: #fff;
  height: 100px;
}
.countdown .single-countdown__text {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.space-mt--50 {
  margin-top: 50px;
}
.newsletter-form input[type="email"] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 300px;
  max-width: 100%;
  margin-right: 5px;
  padding: 10px 8px;
  color: #000;
  border: 1px solid #d9e2eb;
  background-color: #fff;
  text-align: center;
  outline: none;
}
.newsletter-form button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 45px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: none;
  background-color: hsl(22, 100%, 61%);
  outline: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}

@media only screen and (max-width:984px){
  .countdown{
    justify-content: center;
  }
  
}
@media only screen and (max-width: 800px) {
  .logo-hd{
    text-align: center;
  }
  .justify-content-end{
    justify-content: center !important;
  }
  .showcase-content{
    padding-left: initial;
  }
  .countdown {
    margin-bottom: -30px;
    /* padding-top: 60px; */
    justify-content: center;
  }
  .space-sm{
    padding-bottom:30px ;
    padding-top: 10px;
  }
  .countdown .single-countdown {
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .countdown .single-countdown__time {
    height: auto;
    padding: 25px 0;
  }
  .newsletter-form button {
    margin-top: 12px;
  }
  .content-section {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 479px) {
  a{
    font-size: 22px;
  }
  .showcase-img{
    padding-right: initial;
  }
  .content-section {
    padding-top: 40px;
  }
  .content__subtitle {
    font-size: 30px;
    text-align: center;
  }
  .countdown .single-countdown__time {
    font-size: 25px;
  }
  .content__title {
    font-size: 20px;
    text-align: center;
    font-family: system-ui;
  }
  .countdown .single-countdown {
    flex-basis: 70px;
  }
  .newsletter-form button {
    max-width: 80%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 376px) {
  .countdown {
    padding-top: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
